include ./_variable

block pageState
  -
    var pageState = {
      updateTimeStamp: globalState.updateTimeStamp,
      title: globalState.title,
      description: globalState.description,
      //- url: globalState.websiteUrl
    }

doctype html
html(lang="ja-JP")
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width')
    meta(name='format-detection' content='telephone=no, email=no, address=no')
    meta(name='robots' content='index, follow')
    meta(name='rating' content='general')
    meta(name='author' content='company name')
    meta(name='copyright' content='&copy;company name')
    block title
      title #{pageState.title}
    block keywords
      meta(name='keywords' content=globalState.keywords)
    block description
      meta(name='description' content=pageState.description)
    block ogurl
      meta(property='og:url' content=globalState.ogurl)
    block ogtitle
      meta(property='og:title' content=pageState.title)
    block ogimg
      meta(property='og:image' content=globalState.ogImage)
    block ogdescription
      meta(property='og:description' content=pageState.description)
    block ogsitename
      meta(property='og:site_name' content=globalState.ogSiteName)
    meta(property='og:type' content='website')

    block twittercard
      meta(name='twitter:card' content='summary_large_image')
      meta(name='twitter:image' content=globalState.ogImage)

    block apptitle
      meta(name="apple-mobile-web-app-title", content=globalState.apptitle)
    block appletouchicon
      link(rel="apple-touch-icon", href=`${globalState.websiteDir}apple-touch-icon.png`)

    link(rel="shortcut icon", href=`${globalState.websiteDir}favicon.ico`)
    link(rel="stylesheet", href=`${globalState.websiteDir}assets/common/css/style.css`)
    block page_stylesheet

    //- json-ld
    block json-ld

    //- script: page
    block page_script_head

    script.
      this.app = {
        commonData:{
          website: 'apptest.com',
          share: [{
            text: 'appTestText',
            url: ''
          }]
        }
      };

  body
    .co-bg
      block header
        <!--#include virtual="/event/2022/assets/common/inc/navi.html" -->

      block main

      block footer
        <!--#include virtual="/event/2022/assets/common/inc/footer.html" -->
    script(src='/event/2022/assets/common/js/bundle.js')
    block page_script_beforeBodyEnd

