-
  var UPDATE_TIME_STAMP = '202202';
  var WEBSITE_DOMAIN = 'test.com';
  var WEBSITE_URL = `https://${WEBSITE_DOMAIN}/event/2022`;

  var globalState = {
    updateTimeStamp: UPDATE_TIME_STAMP,
    websiteUrl: WEBSITE_URL,
    websiteDomain: WEBSITE_DOMAIN,
    websiteDir: '/event/2022/',
    keywords: 'ダミーキーワード1,ダミーキーワード2,ダミーキーワード3',
    description: 'ダミーディスクリプションダミーディスクリプションダミーディスクリプションダミーディスクリプションダミーディスクリプション',
    title: 'Lorem, ipsum dolor.',
    apptitle: 'Lorem, ipsum dolor.',
    ogSiteName: 'Lorem, ipsum dolor.',
    ogurl: `${WEBSITE_URL}/`,
    ogImage: `${WEBSITE_URL}/assets/common/img/ogp.png`,
    share: {
      text: 'Lorem ipsum dolor sit, amet consectetur adipisicing elit.\n\n Dolorem eius delectus, vitae doloremque culpa quod aspernatur accusamus libero possimus quas suscipit repudiandae totam dolores corporis facere numquam id ullam rem!',
      url: {
        twitter: `${WEBSITE_URL}/`,
        facebook: `${WEBSITE_URL}/`,
        line: `${WEBSITE_URL}/`
      }
    }
  }
