footer
  ul
    li
      a.js-share-twitter(href="", rel="noopener",
        data-url="twitter.com",
        data-tracking="share,footer,to_twitter"
      ) twitter
    li
      a.js-share-facebook(href="", rel="noopener",
        data-url="facebook.com",
        data-tracking="share,footer,to_facebook"
      ) facebook
    li
      a.js-share-line(href="", rel="noopener",
        data-url="line.com",
        data-tracking="share,footer,to_line"
      ) LINE